/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 24px;
  list-style-type: none;
  padding: 24px 156px;
  margin: 0 auto;
  max-width: 1480px;
  align-items: flex-start;
  justify-content: center;
}

.gallery-item {
  box-sizing: border-box;
}

.gallery-link {

  width: calc((100% - 48px) / 3);
}

.gallery-image {
  display: block;
  object-fit: cover;

}

.input-email{border-radius: 4px;
  border: 1px solid #808080;
  margin-top: 24px;
  margin-bottom: 16px;
  width: 360px;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.64px;}
    
  .btn{
  margin-top: 8px;
  margin-left: 24px;
  width: 86px;
  background-color: #4e75ff;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.64px;
  border: none;
  border-radius: 8px;
 
  }

.feedback-form {
  max-width: 408px;
  display: flex;
  flex-direction: column;
 }
 
 .textarea-form{
 
 
    height: 80px;
    justify-content: center;
    align-items: center;

    border: 1px solid #808080;
      margin-top: 24px;
      margin-bottom: 16px;
      width: 360px;
      color: #2e2f42;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5em;
      letter-spacing: 0.64px;
 }

 .text {
   margin: 0;
   margin-left: 24px;
   color: #2e2f42;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.64px;
 }